* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  font-size: 62.5%;
}
body {
  background: #000025 url(../images/bg.jpg);
  background-attachment: fixed;
  font-family: Courier, "Courier New", monospace;
}
.wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}
header {
  width: 100%;
}
header img {
  width: 100%;
}
header .divban {
  position: absolute;
  right: 5%;
  top: 35%;
  width: 300px;
}
header .divban fieldset {
  background: #000025;
  font-size: 1.5rem;
  border: 2px solid #ec7807;
  border-radius: 50px;
}
header .divban fieldset legend {
  padding: 0 5px;
  margin-left: 10px;
  color: #ec7807;
  background: rgba(0, 0, 37, 0.9);
  font-weight: bolder;
  border-radius: 15px;
}
header .divban a {
  display: block;
  text-decoration: none;
  color: #ffd35e;
  text-align: center;
  transition: color 0.5s ease-out 0s;
}
header .divban a:hover {
  color: #7a3e04;
}
.main {
  display: flex;
  flex-wrap: wrap;
  background: #000025f2;
}
.main .nav {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.main .nav img {
  width: 100%;
}
.main .nav a {
  font-size: 1.6rem;
  width: calc(100% - 10px);
  text-decoration: none;
}
.main .nav a.lightnav {
  color: #000025;
  background: #ffd35e;
  text-decoration: none;
  padding: 2.5px 5px;
  position: relative;
  left: 0px;
  transition: padding-left 1.5s ease-out 0s;
}
.main .nav a.lightnav:hover {
  color: white;
  background: transparent;
  padding-left: 25%;
}
.main .nav a.mid {
  color: #000025;
  background: #ec7807;
  text-decoration: none;
  padding: 2.5px 5px;
  position: relative;
  left: 0px;
  transition: padding-left 1.5s ease-out 0s;
}
.main .nav a.mid:hover {
  color: white;
  background: transparent;
  padding-left: 25%;
}
.main .nav a.darknav {
  color: #000025;
  background: #7a3e04;
  text-decoration: none;
  padding: 2.5px 5px;
  position: relative;
  left: 0px;
  transition: padding-left 1.5s ease-out 0s;
}
.main .nav a.darknav:hover {
  color: white;
  background: transparent;
  padding-left: 25%;
}
.main section {
  width: 75%;
  color: whitesmoke;
  white-space: pre-line;
}
.main section img {
  width: 100%;
}
.main section h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 5px 0;
  margin: 25px 0;
  border-top: 5px ridge orangered;
  border-bottom: 5px groove orangered;
  border-radius: 25%;
  background: #792000;
  text-shadow: 2.5px 5px #380f00;
  text-align: center;
}
.main section p {
  font-size: 1.6rem;
  text-indent: -20px;
  margin: 0 10%;
}
.main footer {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-size: 1.25rem;
  color: whitesmoke;
  border-top: 1px ridge #7a3e04;
  z-index: 1;
}
